/* COMMON RULES */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html{
  font-size: 12px;
}

body{
  font-family: 'Lato', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #A3A3A3;
}

.riga::after{
  content: "";
  display: table;
  clear: both;
}

/* debug */
.debug{
  text-align: center;
  background-color: pink;

  height: 200px;

}


/* ----------------------------------------- */


/* NAVBAR */
.side-nav{
  position: relative;

  float: left;
  background-color: black;

  width: 200px;
  height: calc(100vh - 80px);
  min-height: 300px;
}

/* logo */
.logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 80px;
  padding-left: 15px;
}

.logo img#logo-big{
  display: block;
  width: 70%;
}

.logo img#logo-small{
  display: none;
  width: 70%;
}

/* nav-bar */
.nav-bar ul{
  background-color: black;
}

.nav-bar ul li {
  padding: 3px 0 3px 15px;
}

.nav-bar ul li:hover{
  border-left: 2px solid #B5FF31;
}

.nav-bar ul li a{
  display: flex;
  align-items: center;
}

.nav-bar ul li img{
  height: 20px;

  margin-right: 5px;
}

/* playlist */
.playlist{
  height: calc(100% - 250px);
  padding-left: 15px;
  margin-top: 15px;
}

.playlist h3{
  font-size: 1rem;
  color: white;

  margin-bottom: 5px;
}

.create-playlist{
  margin-top: 5px;
}

.create-playlist a{
  color: white;
  font-size: 1.1rem;
}

.create-playlist .fa-plus{
  color: black;
  background-color: #A3A3A3;

  padding: 8px;
  margin-right: 5px;
}

.playlist-list{
  overflow-y: auto;
  height: 100%;
}

.playlist-list ul{
  color: #A3A3A3;
  background-color: black;
}

.playlist-list ul li{
  font-size: 0.8rem;

  margin-top: 12px;
  margin-bottom: 12px;
}

/* install-app */
.install-app{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: black;

  bottom: 0;
  left: 0;

  height: 70px;
  width: 100%;

  padding: 0 10px;
}

.install-app .install,
.install-app .username,
.install-app hr{
  flex: 100%;
}

.install-app .install a,
.install-app .username a{
  display: flex;
  align-items: center;
}

.install-app .install a{
  font-size: 1rem;
}

.install-app .install a img{
  height: 15px;

  margin-right: 10px;
}

.install-app .username a{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.install-app .username a img{
  background-color: #808080;
  border-radius: 50%;

  height: 30px;
  width: 30px;

  margin-right: 10px;
}


/* ----------------------------------------- */


/* MUSIC */
.music{
  position: relative;
  float: left;
  background-color: lightblue;

  width: calc(100% - 200px);
  height: calc(100vh - 80px);
}

/* upgrade */
.upgrade{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  top: 0;
  right: 0;
  left: 0;

  height: 80px;

  background-color: #080B12;

  padding: 0 15px;
}

.upgrade-btn a{
  color: white;

  border: 1px solid white;
  border-radius: 25px;

  padding: 10px 20px;
}

/* music-nav */
.music-nav{
  padding-top: 80px;
  background-color: #141922;
}

.music-nav ul{
  display: flex;

  flex-flow: row wrap;
  justify-content: center;

  background-color: #141922;

  padding: 20px 15px;
}

.music-nav ul li{
  position: relative;
  margin-right: 15px;
}

.music-nav ul li:hover:after{
  content: "";
  position: absolute;
  display: block;

  left: 50%;
  transform: translateX(-50%);

  height: 2px;
  width: 30px;

  border-bottom: 2px solid #B5FF31;
}

.music-nav ul li a{
  color: #7E8085;
  font-weight: 600;
}

/* music selction */
.music-selection{
  overflow-y: auto;
  height: calc(100vh - 215px);

  background-color: #141922;
  padding-left: 15px;
  padding-right: 15px;
}

.music-selection h2{
  color: white;
}

.recently-played{
  margin-bottom: 25px;
}

.recently-played .section-subtitle{
  margin-top: 5px;
  color: #7E8085;
}

.recently-played .music-card h4,
.recently-played .music-card h5{
  text-align: center;

  max-width: 150px;
}

.recently-played .music-card h4{
  color: white;
  margin-top: 8px;
  margin-bottom: 5px;
}

.recently-played .music-card h5{
  color: #7E8085;
}

.recently-played ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.recently-played ul li{
  width: calc(100% / 6);
  margin: 0 5px;
}

.recently-played ul li:first-child{
  margin-left: 0;
}

.recently-played ul li img,
.created-for ul li img,
.artists ul li img{
  width: 100%;
  max-width: 150px;

  margin-top: 15px;
}

/* created for */
.created-for{
  margin-bottom: 15px;
}

.section-subtitle{
  color: #7E8085;
}

.created-for ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.created-for ul li{
  margin: 0 5px;
}

.created-for ul li h4{
  text-align: center;
  color: white;
}

/* artists */
.artists ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.artists ul li{
  margin: 0 5px;
}

.artists ul li img{
  border-radius: 50%;
}

.artists ul li h4{
  text-align: center;
  color: white;

  margin-bottom: 30px;
}


/* ----------------------------------------- */


/* PLAYER */
.player{
  position: absolute;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  z-index: 1000;

  background-color: #282828;

  bottom: 0;
  width: 100%;
  height: 80px;

  padding: 0 10px;
}

/* current song */
.player .current-song{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  width: 200px;
}

.player .current-song .current-album{
  margin-right: 10px;
}

.player .current-song .current-album img{
  width: 40px;
}

.player .current-song .current-artist{
  flex-grow: 1;

  margin-right: 10px;
}

.player .current-song .current-artist h4{
  color: white;
}

.player .current-song .current-artist h6{
  color: #7E8085;
}

.player .current-song .current-icons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  font-size: 1.2rem;
}

.player .current-song .current-icons a:first-child{
  margin-right: 10px;
}

/* music-player */
.music-player{
  flex-flow: column nowrap;
  display: flex;
  align-content: center;

  width: 100%;
  max-width: 450px;

  margin: 0 10px;
}

/* top-player */
.top-music-player{
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  margin-bottom: 10px;
}

.top-music-player a{
  color: white;
}

.top-music-player a .fa-play-circle{
  font-size: 2.5rem;

  padding: 0 25px;
}

.top-music-player a .fa-step-backward{
  padding-left: 20px;
}

.top-music-player a .fa-step-forward{
  padding-right: 20px;
}
/* down-player */
.down-music-player{
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-music-player .time{
  color: white;
}

.music-player-bar{
  position: relative;
  background-color: #5B5B5B;

  border-radius: 25px;

  height: 4px;
  min-width: 100px;
  width: 100%;

  margin: 0 15px;
}

.music-player-bar .time-point-bar{
  position: absolute;
  z-index: 1;

  display: block;

  left: 0;

  height: 4px;
  width: 25%;

  border-radius: 25px;
  background-color: #BCBCBC;
}

.music-player-bar:hover .highlighted-bar{
  position: absolute;
  z-index: 2;

  display: block;

  left: 0;

  height: 4px;
  width: 25%;

  border-radius: 25px;
  background-color: #B5FF31;
}

.music-player-bar:hover .point-bar{
  position: absolute;
  z-index: 3;

  display: block;

  left: 25%;
  transform: translateY(-25%) translateX(-6px);

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: white;
}

.volume{
  display: flex;
  align-items: center;
}

.volume-bar{
  position: relative;
  background-color: #5B5B5B;

  border-radius: 25px;

  height: 4px;
  min-width: 80px;
  width: 100%;
}

.volume .fa-volume-up{
  margin: 0 15px;
}

.volume .fa-list{
  margin-right: 15px;
}

.volume .volume-point-bar{
  position: absolute;
  z-index: 1;

  display: block;

  left: 0;

  height: 4px;
  width: 25%;

  border-radius: 25px;
  background-color: #BCBCBC;
}

.volume-bar:hover .highlighted-bar{
  position: absolute;
  z-index: 2;

  display: block;

  left: 0;

  height: 4px;
  width: 25%;

  border-radius: 25px;
  background-color: #B5FF31;
}

.volume-bar:hover .point-bar{
  position: absolute;
  z-index: 3;

  display: block;

  left: 25%;
  transform: translateY(-25%) translateX(-6px);

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: white;
}
/* ----------------------------------------- */

/* XS */
@media all and (max-width: 575px) {
  /* NAVBAR */
  .side-nav{
    width: 50px;
  }

  /* logo */
  .logo{
    align-items: center;
    justify-content: center;

    height: 60px;

    padding-left: 0;
  }
  .logo img#logo-big{
    display: none;
    width: 70%;
  }

  .logo img#logo-small{
    display: block;
    width: 55%;
  }

  /* nav-bar */
  .sm-none{
    display: none;
  }

  /* playlist */
  .playlist{
    display: none;
  }

  /* install-app */
  .install-app{
    justify-content: center;
  }

  .install-app .install,
  .install-app .username{
    display: flex;
    justify-content: center;
  }

  .install-app .install a{
    width: 15px;
    height: 15px;
  }

  .install-app .install a img{
    margin-right: 0;
  }
  .install-app .username a img{
    margin-right: 0;

    width: 20px;
    height: 20px;
  }

  /* MUSIC */
  .music{
    width: calc(100% - 50px);
  }

  .recently-played ul{
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .recently-played ul li{
    width: calc((100% - 20px) / 2);
  }

  .recently-played ul li:nth-child(even){
    margin-right: 0;
    margin-left: 10px;
  }

  .recently-played ul li:nth-child(odd){
    margin-right: 10px;
    margin-left: 0px;
  }
}

/* SM */
@media all and (min-width: 576px) and (max-width: 767px){

  /* MUSIC */
  .recently-played ul{
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .recently-played ul li{
    width: calc((100% - 20px) / 2);
  }

  .recently-played ul li:nth-child(even){
    margin-right: 0;
    margin-left: 10px;
  }

  .recently-played ul li:nth-child(odd){
    margin-right: 10px;
    margin-left: 0px;
  }
}

/* MD */
@media all and (min-width: 768px) and (max-width: 991px){

  /* MUSIC */
  .recently-played ul{
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .recently-played ul li{
    width: calc((100% - 30px) / 4);
    margin: 0 5px;
  }

  .recently-played ul li:nth-child(4){
    margin-right: 0;
  }

}

/* LG */
@media all and (min-width: 992px) and (max-width: 1199px){

}

/* XL */
@media all and (min-width: 1200px) {

}
