/* COMMON RULES */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------------------------------- */

/* XS */
@media all and (max-width: 575px) {

}

/* SM */
@media all and (min-width: 576px) and (max-width: 767px){

}

/* MD */
@media all and (min-width: 768px) and (max-width: 991px){

}

/* LG */
@media all and (min-width: 992px) and (max-width: 1199px){

}

/* XL */
@media all and (min-width: 1200px) {

}
