/* COMMON RULES */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html{
  font-size: 12px;
  height: 100%;
}

body{
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #A3A3A3;
}


/* ----------------------------------------- */


/* MAIN */
main{
  height: calc(100vh - 80px);
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

/* NAVBAR */
main nav.side-nav{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  background-color: black;

  width: 200px;
}

/* logo */
.logo{
  display: flex;
  align-items: center;
  flex-shrink: 0;

  height: 80px;
  padding-left: 15px;
}

.logo img#logo-big{
  display: block;
  width: 70%;
}

.logo img#logo-small{
  display: none;
  width: 70%;
}

/* nav-bar */
.nav-bar ul{
  background-color: black;
}

.nav-bar ul li {
  padding: 3px 0 3px 15px;
  border-left: 2px solid transparent;
}

.nav-bar ul li:hover{
  border-left: 2px solid #B5FF31;
}

.nav-bar ul li a{
  display: flex;
  align-items: center;
}

.nav-bar ul li a:hover{
  color: white;
}

.nav-bar ul li img{
  height: 20px;

  margin-right: 5px;
}

/* playlist */
.playlist{
  display: flex;
  flex-flow: column nowrap;

  flex-grow: 1;
  padding-left: 15px;
  margin-top: 15px;

  min-height: 60px;
}

.playlist h3{
  font-size: 1rem;
  color: white;

  margin-bottom: 5px;
}

.create-playlist{
  margin: 5px 0;
}

.create-playlist a{
  font-size: 1.1rem;
}

.create-playlist a:hover{
  color: white;
}

.create-playlist a:hover .fa-plus{
  background-color: white;
}

.create-playlist .fa-plus{
  color: black;
  background-color: #A3A3A3;

  padding: 8px;
  margin-right: 5px;
}

.playlist-list{
  min-height: 0;
}

.playlist-list ul{
  overflow-y: auto;
  height: 100%;

  color: #A3A3A3;
  background-color: black;
}

.playlist-list ul li{
  font-size: 0.8rem;

  margin-top: 12px;
  margin-bottom: 12px;
}

.playlist-list ul li a:hover{
  color: white;
}

/* install-app */
.install-app{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;


  background-color: black;

  height: 70px;
  width: 100%;

  padding: 0 10px;
}

.install-app .install,
.install-app .username,
.install-app hr{
  flex: 100%;
}

.install-app .install,
.install-app .username,
.install-app .install a,
.install-app .username a{
  display: flex;
  align-items: center;
}

.install-app .install a{
  font-size: 1rem;
}

.install-app .install a:hover{
  color: white;
}

.install-app .install a img{
  height: 15px;

  margin-right: 10px;
}

.install-app .username a{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.install-app .username a img{
  background-color: #808080;
  border-radius: 50%;

  height: 30px;
  width: 30px;

  margin-right: 10px;
}


/* ----------------------------------------- */


/* MUSIC */
.music{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: relative;
}

/* upgrade */
.upgrade{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  top: 0;
  right: 0;
  left: 0;

  height: 80px;

  background-color: #080B12;

  padding: 0 15px;
}

.upgrade-btn a{
  color: white;

  border: 1px solid white;
  border-radius: 25px;

  padding: 10px 20px;
}

.upgrade-btn a:hover{
  font-size: 1.2rem;
}

/* music-nav */
.music-nav{
  padding-top: 80px;
  background-color: #141922;
}

.music-nav ul{
  display: flex;

  flex-flow: row wrap;
  justify-content: center;

  background-color: #141922;

  padding: 20px 15px;
}

.music-nav ul li{
  position: relative;
  margin-right: 15px;
}

.music-nav ul li:hover:after{
  content: "";
  position: absolute;
  display: block;

  left: 50%;
  transform: translateX(-50%);

  height: 2px;
  width: 30px;

  border-bottom: 2px solid #B5FF31;
}

.music-nav ul li a{
  color: #7E8085;
  font-weight: 600;
}

.music-nav ul li a:hover{
  color: white;
}

/* music selction */
.music-selection{
  flex-grow: 1;
  overflow-y: auto;

  background-color: #141922;
  padding: 0 15px;
}

.music-selection h2{
  color: white;
}

.music-card .img-wrapper{
  position: relative;

  margin-top: 15px;
}

.music-card h4,
.music-card h5{
  text-align: center;

  max-width: 150px;
}

.music-card h4{
  color: white;
  margin-top: 8px;
  margin-bottom: 5px;
}

.overlay{
  position: absolute;
  display: none;
  z-index: 1;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-play{
  position: absolute;
  display: none;
  z-index: 2;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 3rem;
  color: white;
}

.img-wrapper:hover .overlay,
.img-wrapper:hover .overlay-play{
  display: block;
}

.subtitle{
  color: #7E8085;
}

.recently-played,
.created-for,
.artists{
  margin-bottom: 25px;
}

.recently-played ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.created-for ul,
.artists ul{
  display: flex;
  flex-flow: row nowrap;

  overflow-x: auto;
}

.recently-played ul li{
  flex-grow: 1 1 auto;
}

.created-for ul li,
.artists ul li{
  flex: 0 0 auto;

  margin: 0 5px;
}

.recently-played ul li:first-child,
.created-for ul li:first-child,
.artists ul li:first-child{
  margin-left: 0;
}

.recently-played ul li img,
.created-for ul li img,
.artists ul li img{
  width: 100%;
  max-width: 150px;
}

/* artists */
.artists .music-card img{
  border-radius: 50%;
}

/* ----------------------------------------- */


/* PLAYER */
.player{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: #282828;

  width: 100%;
  height: 80px;

  padding: 0 10px;
}

/* current song */
.player .current-song{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  width: 160px;
}

.current-song .current-album{
  margin-right: 10px;
}

.current-song .current-album img{
  width: 40px;
}

.current-song .current-artist{
  flex-grow: 1;

  margin-right: 10px;
}

.current-song .current-artist h4{
  color: white;
}

.current-song .current-artist h6{
  color: #7E8085;
}

.current-song .current-icons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  font-size: 1.2rem;
}

.player .current-song .current-icons a:first-child{
  margin-right: 10px;
}

/* music-player */
.music-player{
  flex-flow: column nowrap;
  display: flex;
  align-content: center;

  width: 100%;
  max-width: 450px;

  margin: 0 10px;
}

/* top-player */
.top-music-player,
.down-music-player{
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-music-player{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.top-music-player a{
  color: white;
}

.top-music-player a .fa-play-circle{
  font-size: 2.5rem;

  padding: 0 25px;
}

.top-music-player a .fa-step-backward{
  padding-left: 20px;
}

.top-music-player a .fa-step-forward{
  padding-right: 20px;
}

/* down-player */
.down-music-player .time{
  color: white;
}

.music-player-bar{
  position: relative;
  background-color: #5B5B5B;

  border-radius: 25px;

  height: 4px;
  min-width: 100px;
  width: 100%;

  margin: 0 15px;
}

.music-player-bar .time-point-bar{
  position: absolute;
  z-index: 1;

  display: block;

  left: 0;

  height: 4px;
  width: 25%;

  border-radius: 25px;
  background-color: #BCBCBC;
}

.music-player-bar:hover .highlighted-bar{
  position: absolute;
  z-index: 2;

  display: block;

  left: 0;

  height: 4px;
  width: 25%;

  border-radius: 25px;
  background-color: #B5FF31;
}

.music-player-bar:hover .point-bar{
  position: absolute;
  z-index: 3;

  display: block;

  left: 25%;
  transform: translateY(-25%) translateX(-6px);

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: white;
}

.volume{
  display: flex;
  align-items: center;
}

.volume-bar{
  position: relative;
  background-color: #5B5B5B;

  border-radius: 25px;

  height: 4px;
  min-width: 80px;
  width: 100%;
}

.volume-icons{
  display: flex;
  align-items: center;
}

.volume-icons a{
  margin: 0 15px;
}

.volume-icons a:hover,
.current-icons a:hover{
  color: white;
}

.volume-icons a:first-child{
  margin-right: 0;
}

.volume-icons a:last-child{
  margin-left: 0;
}

.volume .volume-point-bar{
  position: absolute;
  z-index: 1;

  display: block;

  left: 0;

  height: 4px;
  width: 25%;

  border-radius: 25px;
  background-color: #BCBCBC;
}

.volume-bar:hover .highlighted-bar{
  position: absolute;
  z-index: 2;

  display: block;

  left: 0;

  height: 4px;
  width: 25%;

  border-radius: 25px;
  background-color: #B5FF31;
}

.volume-bar:hover .point-bar{
  position: absolute;
  z-index: 3;

  display: block;

  left: 25%;
  transform: translateY(-25%) translateX(-6px);

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background-color: white;
}
/* ----------------------------------------- */

/* XS */
@media all and (max-width: 575px) {
  /* NAVBAR */
  main nav.side-nav{
    width: 54px;
  }

  /* logo */
  .logo{
    align-items: center;
    justify-content: center;

    height: 60px;

    padding-left: 0;
  }
  .logo img#logo-big{
    display: none;
    width: 70%;
  }

  .logo img#logo-small{
    display: block;
    width: 55%;
  }

  /* nav-bar */
  .nav-bar{
    flex-grow: 1;
  }

  .nav-bar ul li img{
    margin-right: 0;
  }

  .sm-none{
    display: none;
  }

  /* playlist */
  .playlist{
    display: none;
  }

  /* install-app */
  .install-app{
    justify-content: center;
  }

  .install-app .install,
  .install-app .username{
    display: flex;
    justify-content: center;
  }

  .install-app .install a{
    width: 15px;
    height: 15px;
  }

  .install-app .install a img{
    margin-right: 0;
  }
  .install-app .username a img{
    margin-right: 0;

    width: 20px;
    height: 20px;
  }

  /* MUSIC */
  .music{
    width: calc(100% - 50px);
  }

  .music-nav ul{
    height: 100px;
    align-content: space-between;
  }

  /* recently-played */
  .recently-played ul{
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .recently-played ul li{
    flex: 0 1 50%;
  }
}

/* SM */
@media all and (min-width: 576px) and (max-width: 788px){

  /* MUSIC */
  .music-nav ul{
    height: 100px;
    align-content: space-between;
  }

  /* recently-played */
  .recently-played ul{
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .recently-played ul li{
    flex: 0 1 50%;
  }


}

/* MD */
@media all and (min-width: 789px) and (max-width: 991px){

  /* MUSIC */
  /* recently-played */
  .recently-played ul{
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .recently-played ul li{
    flex: 0 1 25%;
  }

}

/* LG */
@media all and (min-width: 992px) and (max-width: 1199px){

}

/* XL */
@media all and (min-width: 1200px) {

}
